body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    margin: 5px;
    padding: 10px;
}


table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

td {
    max-width: 200px; /* Limit width of details */
    overflow-wrap: break-word; /* Wrap long text */
}

